<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'mainPage.css' %}">
    <link rel="stylesheet" href="{% static 'game_detail.css' %}">
</head>

<body>
    <div class="top-bar">
        <p>Game Store - DamKon - Store</p>
    </div>
    <div class="sidebar">
        <a href="{% url 'mainPage' %}" class="list"><i class="fas fa-home"></i> Home</a>
        <a href="{% url 'store' %}" class="list"><i class="fas fa-gamepad"></i> Store</a>
        <a href="#" class="list"><i class="fas fa-book"></i> Library</a>
        <a href="#" class="list"><i class="fas fa-user-friends"></i> Friends</a>
        <a href="#" class="list"><i class="fas fa-user"></i> Account</a>
        <a href="#" class="list"><i class="fas fa-wallet"></i> Wallet</a>

        <form method="post" action="#" class="mainPage">
            <div>
                <label>Choose your currency:</label>
                <select>
                    <option value="USD">USD</option>
                    <option value="EUR">EUR</option>
                    <option value="PLN">PLN</option>
                </select>
            </div>
            <button>Set Currency</button>
        </form>
        <a href="{% url 'logout' %}" class="logoutB">Log out</a>
    </div>
    <div class="content">
        <div class="game-detail">
            <div>
                <h1 class='tittle'>{{ game.tittle }}</h1>
                <p class='price'>{{ game.price }} PLN</p>
                <p class='description'>{{ game.description }}</p>
                <button class="buy-button">Buy</button>
                <button class="buy-button">Buy as a gift</button>
            </div>
            <div>
                <img src="{{ game.image.url }}" alt="{{ game.name }}">
            </div>
        </div>
    </div>
</body>
</html>
