<!DOCTYPE html>
{% extends 'users/mainPage.html' %}
{% load static %}

{% block title %}Store{% endblock %}

{% block header_title %}Store{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'store/game_detail.css' %}">
{% endblock %}

{% block content %}
{% csrf_token %}
    <div class="game-detail">
        <div>
            <h1 class='tittle'>{{ game.tittle }}</h1>
            <p class='price'>{{ game.price }} PLN</p>
            <p class='description'>{{ game.description }}</p>
                <div class="button-container">
                    <form method="GET" action="{% url 'buy_game' game.id %}">
                        <button type="submit" class="buy-button">Buy</button>
                    </form>
                    <form method="GET" action="{% url 'game_gift' game.id %}">
                        <button class="buy-button">Buy as a gift</button>
                    </form>
                </div>
        </div>
        <div>
            <img src="{{ game.image.url }}" alt="{{ game.name }}">
        </div>
    </div>
{% endblock %}