<!DOCTYPE html>
{% extends 'users/mainPage.html' %}
{% load static %}

{% block title %}Store{% endblock %}

{% block header_title %}Store{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'store/store.css' %}">
<link rel="stylesheet" href="{% static 'announcement.css' %}">
{% endblock %}

{% block announcement %}
<div id="popup-message-container">
    {% for message in messages %}
        <div class="popup-message {{ message.tags }}">
            {{ message }}
            <button onclick="closePopupMessage()" style="margin-top: 10px;">OK</button>
        </div>
    {% endfor %}
</div>  
{% endblock %}

{% block content %}
    <div class="games-list">
        {% for game in games %}
            <div class="game-item" onclick="window.location.href='{% url 'game_detail' game.id %}'">
                <img src="{{ game.image.url }}" alt="{{ game.name }}">
                <h3>{{ game.tittle }}</h3>
                <p>{{ game.display_price }} {{ currency }}</p>
                <form method="GET" action="{% url 'buy_game' game.id %}">
                    {% csrf_token %}
                    <button type="submit" class="buy-button">Buy</button>
                </form>
            </div>
        {% endfor %}
    </div>
    {% block extra_js %}
        <script>
        function closePopupMessage() {
            const messageContainer = document.getElementById("popup-message-container");
            if (messageContainer) {
                messageContainer.style.display = "none";
            }
        }

        setTimeout(closePopupMessage, 3000);
        </script>
    {% endblock %}
{% endblock %}