<!DOCTYPE html>
{% extends 'users/mainPage.html' %}
{% load static %}

{% block title %}Pay an amount{% endblock %}

{% block header_title %}Pay an amount{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'wallet_pay.css' %}">
{% endblock %}

{% block content %}
{% csrf_token %}
    <h2 class="title">Your Total Balance: {{ total_balance }} {{ currency }}</h2>
        <form method="POST" class="option2">
            {% csrf_token %}
            {{ form.amount.label }}
            {{ form.amount }}
            <span class="currency">{{ currency }}</span>
            <button type="submit" class="add-button">Submit</button>
        </form>
{% endblock %}