<!DOCTYPE html>
{% extends 'users/mainPage.html' %}
{% load static %}

{% block title %}Wallet{% endblock %}

{% block header_title %}Wallet{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'wallet/wallet_view.css' %}">
{% endblock %}

{% block content %}
{% csrf_token %}
    <h2 class="title">Your Total Balance: {{ total_balance }} {{ currency }}</h2>

    <form method="post" action="{% url 'wallet_operations' %}", class="wallet-content">
        {% csrf_token %}
        <h2>Do you want to add funds to your account? </h2>
        <button class="box_button">Press Here</button>
    </form>
    <form method="post" action="{% url 'account_history' %}", class="wallet-content">
        {% csrf_token %}
        <h2>Do you want to see your account history? </h2>
        <button class="box_button">Press Here</button>
    </form>
{% endblock %}