<!DOCTYPE html>
{% load static %}
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="{% static 'loginPage.css' %}">
    <link rel="stylesheet" href="{% static 'announcement.css' %}">
</head>
<body>

    <div class="top-bar">
        <p>Game Store - DamKon</p>
    </div>
    <div id="popup-message-container">
        {% for message in messages %}
            <div class="popup-message {{ message.tags }}">
                {{ message }}
                <button onclick="closePopupMessage()" style="margin-top: 10px;">OK</button>
            </div>
        {% endfor %}
    </div>   
    <div class="login-container">
        <form method="post">
            {% csrf_token %}
            <p class="login-title">Login</p>
            <label for="username">Username: </label><br>
            <input type="text" id="username" name="username" required><br><br>
            
         
            <label for="password">Password: </label><br>
            <input type="password" id="password" name="password" required><br><br>
            
            <button type="submit">Login</button>
        </form>

        <div>
            <p class="bottom-options">Don't have account? <a href="{% url 'registration' %}">Register here</a></p>
            <p class="bottom-options">Forgot your password? <a href="{% url 'password_reset' %}">Press here</a></p>
        </div>
    </div>
    <script>
        function closePopupMessage() {
            const messageContainer = document.getElementById("popup-message-container");
            if (messageContainer) {
                messageContainer.style.display = "none";
            }
        }
    
        setTimeout(closePopupMessage, 3000);
    </script>
</body>
</html>
