<!DOCTYPE html>
{% extends 'users/mainPage.html' %}
{% load static %}

{% block title %}Account{% endblock %}

{% block header_title %}Account{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'account_view.css' %}">
<link rel="stylesheet" href="{% static 'announcement.css' %}">
{% endblock %}

{% block content %}
{% csrf_token %}
    <h2 class="title">Your Total Balance: {{ total_balance }} {{ currency }}</h2>
        <form method="GET" action="{% url 'change_data' %}", class="info">
            {% csrf_token %}
            <h2>Do you want to change your data? </h2>
            <button class="box_button">Press Here</button>
        </form>
        <form method="GET" action="{% url 'delete_account' %}",  class="info">
            {% csrf_token %}
            <h2>Do you want to delete your account?</h2>
            <button class="box_button2">Press Here</button>
        </form>
{% endblock %}