.content-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Wyśrodkowanie w poziomie */
    width: 100%;
    padding: 20px;
}

.history_date {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 250px;
    margin-left: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.history_date label {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    color: #333;
}

.history_date select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    background-color: #fff;
}

.history_date button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: #222;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.history_date button:hover {
    background-color: #777;
}

.tables-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 150px;
    width: 100%;
}

.table-expenses,
.table-incomes {
    width: 80%;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

table th {
    background-color: #f4f4f4;
}


.generate-pdf {
    background-color: #222;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-left: 150px;
    margin-top: 20px;
}

.generate-pdf:hover {
    background-color: #222;
    transform: scale(1.05);
}

.generate-pdf:active {
    background-color: #222;
    transform: scale(0.95);
}

.generate-pdf:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}
