.games-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}

.game-item {
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
    width: 1300px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 180px;
    cursor: pointer;
    position: relative;
}

.game-item img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
    margin-left: 50px;
    margin-right: 50px;
}

.game-item h3 {
    font-size: 30px;
    margin: 10px 0;
}

.game-item p {
    font-size: 30px;
    color: #333;
    font-weight: bold;
    position: absolute; 
    right: 230px; 
    top: 37%; 
    transform: translateY(-50%); 
}

.buy-button{
    width: 150px;
    height: 50px;
    padding: 5px;
    background-color: #222;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    position: absolute; 
    right: 40px; 
    top: 50%; 
    transform: translateY(-50%); 
}

.buy-button:hover {
    background-color: #777;
}

.game-item2 {
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
    width: 900px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 200px;
    position: relative;
}

.game-item2 img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    object-fit: cover;
    margin-left: 50px;
    margin-right: 50px;
}

.game-item2 h3 {
    font-size: 28px;
    margin: 10px 0;
}

h2 {
    font-size: 2rem; 
    color: #333; 
    text-align: center; 
    margin-bottom: 20px; 
    padding: 10px 0; 
    border-bottom: 2px solid #ccc; 
    font-family: 'Arial', sans-serif; 
    text-transform: uppercase; 
    letter-spacing: 2px;
    margin-left: 200px;
}


.sorting-options {
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
    gap: 10px; 
    margin-bottom: 20px; 
    padding: 10px; 
    background-color: #f9f9f9; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-left: 180px;
}

.sorting-options label {
    font-size: 16px; 
    font-weight: bold; 
    color: #333; 
}

.sorting-options select {
    font-size: 16px; 
    padding: 5px 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    background-color: #fff; 
    color: #333; 
    cursor: pointer; 
    transition: border-color 0.3s ease; 
}

.sorting-options select:hover {
    border-color: #888; 
}

.sorting-options select:focus {
    outline: none; 
    border-color: #222; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
